.DS_Store
**/secret_stuff
**/Antibody_Information.xlsx
**/rosie.png
**/README.md
**/Training_datasets.csv
data/
.git/
.venv/
__pycache__/
*.csv
env/
**/best_model_single.pth

*.tif
*.tiff
*.czi
*.pdf
*.png

output_results/
split_images/
images/
non_code/